form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

input,
select {
    flex-basis: calc(33% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.priceartbtn{
    display: flex;
    gap: 20px;
}

.btnadddelinv{
    display: flex;
    gap: 20px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

span {
    margin-right: 20px;
}