howtocreate.css

.containercreate {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Georgia, serif;
    max-width: 800px; 
    animation: fadeIn 2s ease-out;
    margin: 0 auto; 
    padding: 20px;
}

.containerhow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h1 {
    color: #333;
}

.tabs-container {
    margin-top: 20px;
}
.cont{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: Georgia, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-tabs .nav-link {
    color: #333;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem 0.25rem 0 0;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.tab-content {
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 0 0 0.25rem 0.25rem;
}


.spinner {
    width: 70.4px;
    height: 70.4px;
    --clr: rgb(32, 10, 223);
    --clr-alpha: rgb(247, 197, 159, .1);
    animation: spinner 1.6s infinite ease;
    transform-style: preserve-3d;
}

.spinner>div {
    background-color: var(--clr-alpha);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(35.2px);
}

@keyframes spinner {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}



.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}


